{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %}{{title}}{% endblock %}

{% block css_block %}
<style>
    body {
        background-color: #969696;
    }

    .edit_page {
        width: 50%;
        background-color: #ababab;
        padding: 10px 30px;
    }
</style>
{% endblock %}

{% block body_block %}
<center>
    <div class="edit_page">
        <form method='POST' enctype="multipart/form-data">
            {{form|crispy}}{% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
    </div>
</center>
{% endblock %}