{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %}{{user_other.user_profile.full_name}}{{user_other.username}}{% endblock  %}

{% block css_block %}
    <style>
        .crop{
            width: 400px;
            height: 400px;
            overflow: hidden;
            position: relative;
        }
        .crop img{
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            display: block;
            margin: auto;
        }
    </style>
{% endblock  %}

{% block body_block %}
    <div class="row">
        <div class="col-sm-4">
            {% if user_other.user_profile.profile_pic %}
            <a class="dropdown-item" href=""><img src="/media/{{user_other.user_profile.profile_pic}}" width= '250px' height="250px" class="rounded-circle"> </a>
            {% else %}
            <a class="dropdown-item" href=""><img src="/media/default.png" width= '250px' height="250px" class="rounded-circle"></a>
            {% endif %}
        
        </div>
        <div class="col-sm-8">
            <h3>{{ user_other.username }} &nbsp; 
                {% if not already_followed %}
                <a href="{% url 'Login_App:follow' username=user_other.username%}" class="btn btn-light btn-sm">Follow</a>
                {% else %}
                <a href="{% url 'Login_App:unfollow' username=user_other.username %}" class="btn btn-light btn-sm">Unfollow</a>
                {% endif %}
            </h3>
            <br>
            <h4>{{user_other.post.count}} Posts &nbsp; &nbsp; {{user_other.following.count}} Followers &nbsp; &nbsp; {{user_other.follower.count}} Following</h4>
            <br>
            <h4>{{user_other.user_profile.full_name}}</h4>
            <h6>{{user_other.user_profile.description|linebreaks}}</h6>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        {% for post in user_other.post.all %}
            <div>
                <a class="dropdown-item" href="{% url 'Login_App:profile' %}"><img src="/media/{{user_other.user_profile.profile_pic}}" width= '40px' height="40px" class="rounded-circle">{{user_other.username}}</a>
                <br>
            </div>
          <div class="crop">
            <p>{{post.question}}</p>
            <h6>{{post.upload_date}}</h6>
            <ul>
                {% for answer in post.comments.all %}
                    <li>
                        <a href="{% url 'Login_App:user' username=answer.author %}">{{ answer.author }}</a>: {{ answer.content }}
                        <br>
                        Answered at: {{ answer.created_at }}
                        <br>
                        <form method="POST" action="{% url 'App_Post:like_answer' answer.id %}">
                            {% csrf_token %}
                            Likes: {{ answer.likes.count }}
                        </form>
                    </li>
                {% empty %}
                    <li>Not Answered yet.</li>
                {% endfor %}
            </ul>
          </div>
          <br>
        {% endfor %}
    </div>
    <br><br>
{% endblock  %}
