{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %}{{title}}{% endblock %}

{% block css_block %}
<style>
  body {
    text-align: center;
    background-color: #9a9a9a;
  }

  .text {
    background-color: #636e72;
    color: black;
    padding: 10px;
  }

  .reg_form {
    display: block;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .reg_btn {
    background-color: #47728a;
    border: 1px solid #636e72;
    border-radius: 5px;
    margin-bottom: 2rem;
  }

  #registration_form tr:nth-child(even) {
    background-color: #afafaf;
  }

  #registration_form {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

  }

  #registration_form {
    background-color: #9f9e9e;
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block body_block %}
<h1 class="text">Exam Registration</h1>
<form method="post">
  {% csrf_token %}
  <div class="reg_form">
    <table id="registration_form">
      <tr>
        <td><span>Name:</span></td>
        <td><span>{{ reg_form.name }}</span></td>
      </tr>
      <tr>
        <td><span>Student ID:</span></td>
        <td><span>{{ reg_form.student_id }}</span></td>
      </tr>
      <tr>
        <td><span>Year:</span></td>
        <td><span>{{ reg_form.year }}</span></td>
      </tr>
      <tr>
        <td><span>Semester:</span></td>
        <td><span>{{ reg_form.semister }}</span></td>
      </tr>
      <tr>
        <td><span>Hall Name:</span></td>
        <td><span>{{ reg_form.hall_name }}</span></td>
      </tr>
      <tr>
        <td><span>Exam Name:</span></td>
        <td><span>{{ reg_form.exam_name }}</span></td>
      </tr>
      <tr>
        <td><span>Department Name:</span></td>
        <td><span>{{ reg_form.department_name }}</span></td>
      </tr>
      <tr>
        <td><span>Academic Year:</span></td>
        <td><span>{{ reg_form.academic_year }}</span></td>
      </tr>
      <tr>
        <td><span>Exam Hall:</span></td>
        <td><span>{{ reg_form.exam_hall }}</span></td>
      </tr>
      <tr>
        <td><span>Father Name:</span></td>
        <td><span>{{ reg_form.father_name }}</span></td>
      </tr>
      <tr>
        <td><span>Mother Name:</span></td>
        <td><span>{{ reg_form.mother_name }}</span></td>
      </tr>
      <tr>
        <td><span>Present Address:</span></td>
        <td><span>{{ reg_form.present_address }}</span></td>
      </tr>
      <tr>
        <td><span>Permanent Address:</span></td>
        <td><span>{{ reg_form.permanent_address }}</span></td>
      </tr>
      <tr>
        <td><span>Nationality:</span></td>
        <td><span>{{ reg_form.nationality }}</span></td>
      </tr>
      <tr>
        <td><span>Date Of Birth:</span></td>
        <td><span>{{ reg_form.date_of_birth }}</span></td>
      </tr>
    </table>
  </div>
  <button id="reg_btn" class="reg_btn" type="submit">Register</button>
</form>
<script>
  const element = document.getElementsByTagName('input');
  element.style.marginRight = "50px";
</script>
{% endblock %}