{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %}{{title}}{% endblock  %}

{% block css_block %}

{% endblock  %}

{% block body_block %}
    {% for user in result  %}
        <div class="row">
            <div class="col-sm-1">
                {% if user.user_profile.profile_pic %}
                <img src="/media/{{user.user_profile.profile_pic}}" width= '50px' height="50px">
                {% else %}
                <img src="/media/default.png" width= '50px' height="50px">
                {% endif %}
            </div>
            <div class="col-sm-11"> 
                @<a href="{% url 'Login_App:user' username=user.username%}">{{user.username}} </a><br>
                {{user.user_profile.full_name}}
            </div>
        </div>
    {% endfor %}
{% endblock %}
