{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %}{{title}}{% endblock  %}

{% block css_block %}
    <style>
       
    </style>
{% endblock  %}

{% block body_block %}
    {% for post in posts %}
    <div>
      {% if post.author.user_profile.profile_pic %}
        <img src="/media/{{post.author.user_profile.profile_pic}}" width= '40px' height="40px">
      {% else %}
        <img src="/media/default.png" width= '40px' height="40px">
      {% endif %}
      <a href="{% url 'Login_App:user' username=post.author%}">{{post.author}} </a> <br>
      {{post.question}} <br>
    </div>
      
    {% endfor %}
{% endblock  %} 
